.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  font-weight: bold;
  padding: 1.2rem;
  border-radius: 0.8rem;
  color: var(--text-over-primary);
  background-color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.menuLink:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.logoLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
