.heading {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  color: var(--primary);
}

.heading svg {
  color: var(--primary);
}

.heading:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
